@import '~mdb-ui-kit/css/mdb.min.css';
.header{
  height: 50vh; 
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 75%);
}

body.hangman{
  height: 100%;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 75%);
}

html.customize{
  height: 100%;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 75%);
}

body.customize{
  height: 100%;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 75%);
}

body{
  overflow-x: hidden;
}

.hidden{
  display: none;
}

p{
  font-family: Raleway;
}

