@import '~mdb-ui-kit/css/mdb.min.css';
.header{
  height: 50vh; 
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 75%);
}

.headerCustomize{
  height: 10vh;
}

body.customize{
  height: 100vh;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 75%);
}

.headerHangman{
  height: 10vh;
}

body.hangman{
  height: 100vh;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 75%);
}

body{
  overflow-x: hidden;
}

.hidden{
  display: none;
}

p{
  font-family: Raleway;
}

.navbar-brand {
  letter-spacing: 3px;
  font-size: 1.75rem;
  font-weight: 500;
} 

.navbar{
  box-shadow: none;
}

.container-fluid {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  nav.navbar {
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 75%);
  }
}
